.details {
  height: calc(100vh - 82px);
  overflow: auto;
  display: flex;
  flex-direction: column;

  &_block {
    padding: 5px;
  }

  &_value {
    color: #c56874;
    word-break: break-word;
  }

  &_title {
    font-size: 12px;
    text-transform: uppercase;
  }

  ul {
    border-bottom: 1px solid black;
  }

  li {
    font-size: 14px;
  }
}
