.step {
    cursor: pointer;
    padding-left: 5px 0;

    &__active {
        background-color: darkgray;
    }

    &:hover {
        background-color: lightgrey;
    }

    &_state {
        font-size: 12px;
    }

    &_name {
        font-weight: bold;
    }

    &_message {
        font-size: 10px;
    }

    &_actions {
        display: flex;
    }

    &_button {
        cursor: pointer;
    }

    &_button:disabled {
        cursor: not-allowed;
    }
    
}