.console {
    height: calc(100vh - 82px);
    overflow: auto;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-break: break-all;

    &_header {
        display: flex;
        justify-content: space-between;
    }

    &__warning {
        background-color: #fffbe6;
    }

    &__error {
        background-color: #fff0f0;
    }
}

.stack-trace {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    word-break: break-all;
}