.console {
    height: calc(100vh - 82px);
    overflow: auto;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    word-break: break-all;
    font-size: 14px;

    &_header {
        display: flex;
        justify-content: space-between;
    }

    &_timestamp {
        font-size: 12px;
    }

    &_text {
        color: #c56874; // #E65100;
        font-weight: 500;
    }

    &_type {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    &__warning {
        background-color: #fffbe6;
    }

    &__error {
        background-color: #fff0f0;
    }
}

.stack-trace {
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    word-break: break-all;
}