.tabs {
  width: 100%;

  &_nav {
    height: 30px;
    padding: 0;
    margin: 0;
    position: relative;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &__active {
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: none;
      position: relative;
      color: black;

      &:after {
        width: 100%;
        height: 2px;
        position: absolute;
        content: '';
        bottom: -0.1em;
        left: 0;
        background: white;
      }
    }

    li {
      display: inline-block;
      cursor: pointer;
      color: #3a5ea7;
      padding: 5px 10px;

      text-align: center;
      font-size: 14px;

      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &_content {
    list-style: none;
  }
}

.tabs-content {
  &_item {
    display: none;

    &__active {
      display: block;
    }
  }
}
