.network {
    height: calc(100vh - 82px);
    overflow: auto;
}

.network-preview {
    display: flex;
    justify-content: space-between;

    &_req {
        display: flex;

        div {
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &_type {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.network-details {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 0 5px;
    overflow-wrap: break-word;
    word-break: normal;

    &_title {
        font-size: 14px;
        font-weight: bold;
    }

    ul {
        padding: 5px 0;
    }
}

.header-entry {
    padding-left: 10px;
    &_name {
        font-weight: bold;
    }
}