@import '../../assets/mixins.scss';

.layout {
    min-width: 1000px;
    overflow: auto;
    height: 100vh;

    &_top-block {
        height: 50px;
    }

    &_main-block {
        height: calc(100vh - 50px);
        display: flex;
    }

    &_content,
    &_left-sidebar,
    &_right-sidebar {
        border: 1px solid #ccc;
        display: flex;
    }

    &_left-sidebar {
        width: 250px;
    }

    &_right-sidebar {
        width: 400px;
    }

    &_content {
        display: flex;
        flex-grow: 1;
    }
}